#page{
background-image: url('../images/background.png'); 
width: 1200px; 
margin: 0 auto 0 auto;
border: 1px solid black;
}
/*#page div{
border: 1px solid black;
}*/
#cabecera, #home, #principal, #footer{
margin: 0 105px 0 105px;
}

div#cabecera img{
text-align: left;
float: left;
       padding-left: 26px;
}

#informacion {
font-family: MyriadPro Regular/*ZurichBT RomanCondensed*/;
text-align: right;
}

ul#submenu{
list-style-type: none;
text-transform: uppercase;
}

ul#submenu li{
display: inline;
text-align: right;
margin: 0 ex 0 ex;
padding: 0.5ex;
font-size: 13px;
}

ul#submenu a{
color: #00AA00;
text-decoration: none;
}

ul#submenu a:hover{
color: black;
}

span.numero{
font-size: 20px;
text-align: right;
}
span.texto{
font-size: 11px;
}

ul#menu{
background-image: url('../images/fondo_menu.png');
/*float: right;  aqui flota*/
text-transform : uppercase;
list-style-type: none;
height: 30px;
padding-top:10px;
border-radius: 8px;
}

ul#menu li{
display: inline;
}

ul#menu a{
font-family: "ZurichBT BoldCondensed", "Times New Roman";
font-size: 15px;
color: white;
text-decoration: none;
text-align: left;
margin-right: 28px;
}

ul#menu a:hover{
color: black;    
}
/* FIN DEL ENCABEZADO */

div#home{
text-align: left;
color: #31A431;
font-size: 12px;
padding-left: 25px;
padding-bottom: 7px;
}

/* INICIO DE PRINCIPAL */


div#principal{
background-color: white;
text-align: left;
border-radius: 10px;
}


div#main{
padding: 17px 0 0 17px;
width:705px;
}

/* INICIO PORTFOLIO */

div#portfolio{
text-align: left;
background-image: url('../images/pantalla.png');
background-position: 70% 15% ;
background-repeat; no-repeat;
height: 265px;
width: 685px;
border-radius: 10px;
overflow: hidden;
}

#control{
float: right;
width: 235px; 
height: 265px;
text-align: left;
background-color: black;
opacity: 0.78;
color: white;
font-family: Arial;
}

#control h3,img{
padding: 0 2ex 0 2ex;
}

#control p{
padding: 0 2ex 0 3ex;
}

#control h2{
padding-left: 1.5ex;
}

#control p, #texto_reclamo p{
font-size: 12px;
}

#control a{
text-decoration: none;
}

#control ul{
list-style-type: none;
padding-left: 1.5ex;
}

#control ul li{
display: inline;
padding: 1.8ex;
font-size: 12px;
background-image: url('../images/boton_off.png');
background-repeat: no-repeat;
background-position: center;
}

#control ul li a{
color: white;
}

#control  ul li:hover{
background-image: url('../images/boton_on.png')
}

div#reclamo {
font-family: Arial;
        	padding-bottom: 2ex;
}

div#texto_reclamo{
width: 490px;
text-align: left;
font-size: 12px;
}

#texto_reclamo p{
line-height: 3.5ex;
padding-bottom: 1ex;
}


.hipervinculo, #control h2{
color: #00AA00;
}

div#reclamo img{
width: 175px;
margin-bottom: 0px;
}

span#imagen_reclamo{
float: right;
margin-right: 5ex;
position: relative;
top: -30px;
}

/*FIN MAIN */

/* INICIO CONTENIDO */

#contenido{
padding-top: 0px;
}

#contenido ul#menu2{
background-image: url('../images/fondo_blanco.png');
padding-top: 0px;
padding-left: 0px;
text-align:  left;
list-style-type: none;
width: 705px;
border-radius: 8px;
z-index: 5;
position: relative;
}

#contenido ul li{
          /*border-radius: 10px;*/
display: inline;
border: 1px solid grey;
padding: 1ex 6ex 1ex 6ex ;
position: relative;
top: -34px;
}

#contenido li a{
text-decoration: none;
color: black;
       padding-left: 0.5ex;
}

#contenido img{
padding: 0px;
}

#contenido ul li:hover{
background-image: url('../images/fondo_menu.png');
}

#contenido ul li a:hover{
color: white;
}

#articulos{
text-align: left;
width: 705px;
height: 500px;
margin: 0 auto 0 auto;
}

div.articulo{
width: 220px;
height: 247px;
float: left;
margin: 0 7.5px 0 7.5px;
/*display: inline;*/
}

.articulo p{
font-size: 12px;
font-family: Arial;
}

#imagen1{
background-image: url('../images/africa.png');
background-position: 87% 40%;
background-repeat: no-repeat; 
width: 200px;
height: 98px;
border: 5px solid #D5D6D5;
border-radius: 7px;
}

/*.articulo img{
width:200px;
height: 98px;
background-position: 82% 64%;
background-repeat: no-repeat;
}*/

#imagen2{
background-image: url('../images/america.png');
background-position: 30% 50%;
background-repeat: no-repeat; 
width: 200px;
height: 98px;
border: 5px solid #D5D6D5;
border-radius: 7px;
}

#imagen3{
background-image: url('../images/antarctica.png');
background-position: 30% 85%;
background-repeat: no-repeat; 
width: 200px;
height: 98px;
border: 5px solid #D5D6D5;
border-radius: 7px;
}

#imagen4{
background-image: url('../images/asia.png');
background-position: 50% 25%;
background-repeat: no-repeat; 
width: 200px;
height: 98px;
border: 5px solid #D5D6D5;
border-radius: 7px;
}

#imagen5{
background-image: url('../images/australasia.png');
background-position: 50% 55%;
background-repeat: no-repeat; 
width: 200px;
height: 98px;
border: 5px solid #D5D6D5;
border-radius: 7px;
}
#imagen6{
background-image: url('../images/europe.png');
background-position: 20% 70%;
background-repeat: no-repeat; 
width: 200px;
height: 98px;
border: 5px solid #D5D6D5;
border-radius: 7px;
}

/* FIN CONTENIDO */

/* INICIO SEARCH */

#search{
background-color: #EEEBE4;
padding: 10px 0px 10px 10px;
margin: 1px;
height: 945px;
border: 1px solid #BBBBBB;
border-top-right-radius: 8px;
border-bottom-right-radius: 8px;
float: right;
width: 251px;
text-align: left;

}

#holiday, #quick, #login, #news{
font-family: Arial;
font-size: 12px;
padding-top: 2px;
}

.caja select, .caja_disabled select{
 background: transparent;
   width: 220px;
   padding: 3px 0px 4px 9px;
   font-size: 12px;
   border: 1px solid black;
   border-radius: 4px;
   height: 25px;
}

.caja {
   width: 200px;
   overflow: hidden;
   background: url('../images/flecha_select.png') no-repeat right;
   border:none;
} 

.caja_disabled {
   width: 200px;
   overflow: hidden;
   background: url('../images/flecha_disabled.png') no-repeat right;
   border:none;
} 

#search_holidays input{
width: 200px;
text-align: left;
padding-left: 15px;
height: 32px;
color: white;
border: none;
background: url('../images/search_holidays.png') no-repeat left;
}

#quick input#text{
width: 120px;
border-radius: 6px;
border: 1px solid;
font-size: 12px;
padding: 3px 0px 4px 6px;
background: url('../images/fondo_select.png');
}

input.boton{
background: url('../images/fondo_quick.png') no-repeat center left;
text-align: right;
border: none;
font-size: 12px;
padding: 5px;
color: white;
border-radius: 5px;
}

#search hr{
color: #FFFFFF;
}

#login p, input#email{
width: 190px;
}

#login input#email{
border-radius: 6px;
margin-bottom: 10px;
border: 1px solid;
font-size: 12px;
padding: 3px 0px 4px 6px;
background: url('../images/fondo_select.png');
}

#login input#name{
width: 115px;
border-radius: 6px;
margin-bottom: 10px;
border: 1px solid;
font-size: 12px;
padding: 3px 0px 4px 6px;
background: url('../images/fondo_select.png');
}

.news{
width: 200px;
}

/*INICIO FOOTER */

#footer{
margin-top: 20px;
height: 200px;
background-color: #EEEBE4;
}

#historia{
background-image: url('../images/fondo_pie.png');
height: 40px;
color: white;
padding-left: 20px;
border-top-right-radius: 8px;
border-top-left-radius: 8px;
 }

#historia p {
padding-top: 10px;
text-align: center;

}

#redes{
float: left;
background:url('../images/twitter.png') no-repeat;
background-position: 192px 13px;
}

.TipoLetra{
color: #64522A;
font-family: "Arial";
font-size: 14px;
padding-left: 20px;
}

.Texto{
color: #757268;
font-family: "Arial";
font-size: 12px;
width: 220px;
padding: 10px 10px 0px 20px;
}

#link{
text-align: left;
height: 160px;
width: 520px;
margin-left: 200px;
}

#link .TipoLetra{
padding-left: 65px;
}


.link{
text-align: left;
color: #757268;
font-family: "Arial";
font-size: 12px;
line-height: 17.5px;
padding: 10px 10px 0px 20px;
float: left;
}

#contact{
float: right;
